path{
    fill: #ccc;
    stroke: black;
    stroke-width: .45px;

}
path.active {
    fill: yellow;
}

circle {
    fill:red;
    fill-opacity: .5;
    stroke: black; 
    stroke-width: .5px;
}
#sliderContainer{
    text-align: center;
    position: right;
    top: 700px;
}
/* TODO: MAKE H1 BIGGER? */
h1, h2 {
    position: absolute;
    background: white;
    left: 10px;
    font-size: 1.3em;
}
h2{
    top: 30px;
    font-size: 1em;
    font-weight: 100;
}
/* TODO: STYLE SO IT'S A POPUP */